<div class="sidebar">
    <div class="line-effect"></div>
    <div class="profile">
        <div class="profile-image">
            <img src={{selectedContact.picture.large}} alt="Violet Simmons">
        </div>
        <div class="profile-text">
            <h2>{{selectedContact.name.title}} {{selectedContact.name.first}} {{selectedContact.name.last}}</h2>
            <p>{{selectedContact.email}}</p>
        </div>
    </div>
    <div class="contact-details">
        <div class="detail">
            <img src="/assets/images/phone-icon.svg" alt="phone">
            <p>{{selectedContact.phone}}</p>
        </div>
        <div class="detail">
            <img src="/assets/images/birthday-icon.svg" alt="bithday">
            <p>{{this.birthday}}</p>
        </div>
        <div class="detail">
            <img src="/assets/images/location-icon.svg" alt="location">
            <p>{{selectedContact.location.state}}, {{selectedContact.location.country}}</p>
        </div>
    </div>
</div>